.footer {
    margin-top: auto;
    margin-bottom: 0px;
    border-top: 4px solid #d4d4d4;
    border-bottom: 4px solid #d4d4d4;
    border-collapse: collapse;
    height: 60px;
    bottom: 0px;
    overflow: hidden;
    width: calc(100% - 8px);
    position: absolute;
}