.wrapper {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 6%;

    .problem-statement {
        flex-grow: 1;
        justify-content: space-between;
        line-height: 200%;
        
        .statement {
            font-size: 40px;
            font-family: VT323;
            .title {
                font-family: 'Space Mono';
                font-size: 25px;
            }
        }
        .question {
            margin-top: 3%;
            display: flex;
            align-items: baseline;
            .link-text {
                .link {
                    font-size: 20px;
                    color: #0ead69
                }
            }
            .fav{
                padding-left: 5rem;
                .button {
                    font-size: 20px;
                    background-color: #121212;
                    color: #d4d4d4;
                    border: transparent;
                    height: 2.5rem;
                }
                .button:hover {
                    color: #0ead69;
                    text-decoration: underline;
                }
                .message {
                    font-size: 22px;
                    color: #0ead69;
                }
            }
        }
    }
    .comments-container {
        margin-top: 5%;
        .comments-form {
            width: 50%;
        }
        .comments {
            width: 100%;
        }
    }
       
}

